@use '@/styles/mixins' as *;

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px 20px;

	@include mobile {
		grid-template-columns: 1fr;
		gap: 50px 0;

		.label {
			font-size: 16px !important;
		}
	}
}

.object {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;

	img {
		width: 319px;
		height: 319px;

		@include mobile {
			width: 387px;
			height: 387px;
		}
	}

	&:hover {
		.mask {
			opacity: 0;
		}
	}
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.1s ease;
}

.label {
	@include textStyle(20px);
	line-height: 110%;
}
