@use '@/styles/mixins' as *;

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;

	@include mobile {
		grid-template-columns: 1fr;
	}
}

.poster {
	line-height: 0;

	img {
		width: 318.68px;
		height: 318.68px;

		@include mobile {
			width: 388px;
			height: 388px;
		}
	}
}
