@use '@/styles/mixins' as *;

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;

	@include mobile {
		grid-template-columns: 1fr;
	}
}

.hoverCard {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.1s ease;
}

.photo {
	position: relative;
	line-height: 0;

	img {
		width: 318px;
		height: 318px;

		@include mobile {
			width: 388px;
			height: 388px;
		}
	}

	&:hover {
		.hoverCard {
			opacity: 1;
		}
	}
}
