@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
	@include pageLayout;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 50vw;
	height: 100dvh;
	background-color: $main-color-gray;

	@include mobile {
		display: none;
	}
}

.button {
	background: none;
	border: none;
	cursor: pointer;
	margin-right: auto;
}
