@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: $gap-between-blocks;

	@include mobile {
		gap: $mobile-gap-between-blocks;
	}
}
