@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.square {
	width: 320px;
	height: 320px;
	position: relative;

	@include mobile {
		width: 188px;
		height: 188px;

		h1 {
			font-size: 50px !important;
		}

		p {
			font-size: 12px !important;
		}

		.content {
			padding: 15px !important;
		}
	}

	.fill {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $main-color-yellow;
		z-index: 0;
		will-change: transform, height;
	}

	.content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: end;
		padding: 25px;
		z-index: 1;
		will-change: transform;

		h1 {
			@include textStyle(80px);
			font-weight: 300;
			line-height: 110%;
		}

		p {
			@include textStyle(15px);
			line-height: 120%;
		}
	}
}
