@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: $gap-between-blocks;

	@include mobile {
		gap: $mobile-gap-between-blocks;
	}
}

.eventsBlock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 20px;

	img {
		width: 319.69px;
		height: 319.69px;
	}

	@include mobile {
		grid-template-columns: 1fr;
		gap: 20px 0;

		img {
			width: 391px;
			height: 387px;
		}
	}
}

.postsBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.postsContainer {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
